bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-tribblesat

documents/*.aux
documents/*.fdb_latexmk
documents/*.pdf
documents/*.fls
documents/*.log
documents/*.synctex.gz
documents/*.bbl
documents/*.bcf
documents/*.blg
documents/*.run.xml
documents/*-blx.bib

.DS_Store
.vscode/